<!-- templates/header.html -->
<header>
    <div class="container header-content">
        <a href="../index.html" class="logo">Dr. <span>Ravishankar</span></a>
        <nav>
            <ul class="nav-links">
                <li><a href="../index.html" class="active">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li><a href="../portfolio.html">Portfolio</a></li>
                <li><a href="../blog.html">Blog</a></li>
                <li><a href="../contact.html">Contact</a></li>
            </ul>
            <div class="social-icons">
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://linkedin.com/in/dr-ravishankar-asokkumar-mbbs-mrcp-uk-frcp-london-fasge-b3908015/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </div>
</header>